a {
  text-decoration: none;
  color: #F0A500;
  /* Hover CSS Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* Hover CSS Grow */
a:hover, a:focus, a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
}

button {
  font-size: 16px;
  font-family: 'League Spartan', sans-serif;
  width: 140px;
  height: 50px;
  border-width: 0px;
  color: black;
  border-color: #F5F2E7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(#FFE6AB, #FFE6AB);
  /* Hover CSS Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:hover {
  color: #F0A500;
}

/* Hover CSS Grow */
button:hover, button:focus, button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1 {
  font-size: 1.875em;
  /* 30px/16=1.875em */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F2E7;
  gap: 16em;
}

span {
  color: #F0A500;
  font-weight: 600;
}

.author {
  color: #F0A500;
  font-weight: 600;
  font-size: 1.5em;
}

.button-2 {
  display: flex;
  align-items: center;
}

.calltoaction-section {
  background-color: #F5F2E7;
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.centered-box {
  background-color: white;
  border-radius: .3em;
  width: 60em;
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.class-name {
  padding-top: 1.5em;
}

.class-one {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.class-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  padding-bottom: 5em;
}

.class-thumbnails {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.intropic {
  height: auto;
  width: 500px;
  border-radius: .5em;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  gap: 2em;
  width: 100%;
}

.left-container {
  width: 500px;
  padding-right: 1em;
}

.links {
  display: flex;
  gap: 1em;
  font-size: 1.2em;
}

.logo {
  color: black;
}

.p1 {
  font-size: 1.15em;
  line-height: 1.2em;
}

.p2 {
  margin-bottom: 2em;
  font-size: 1.15em;
  line-height: 1.2em;
}

.quote {
  width: 50%;
  font-weight: 300;
  line-height: 1.3em;
  font-style: italic;
}

.quote-section {
  background-color: #F5F2E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-header {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-title {
  font-size: 2em;
  font-weight: 500;
}

.sidenote {
  color: #F0A500;
}

.thumbnails {
  max-width: 200px;
  height: auto;
  border-radius: 10%;
}

/* Tentative Responsive Media Query for Smartphone/Ipad:
May need fixing */
@media only screen and (max-width: 960px) {
  header {
    justify-content: center;
    align-items: center;
    background-color: #F5F2E7;
    flex-direction: column;
    padding-bottom: 1em;
    gap: 0em;
  }

  .links {
    gap: 2em;
  }
}
