a {
  text-decoration: none;
  color: #F0A500;
  /* Hover CSS Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* Hover CSS Grow */
a:hover, a:focus, a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F2E7;
}

.links {
  display: flex;
  gap: 1em;
  font-size: 1.2em;
}

.logo {
  color: #444444;
}

/* Tentative Responsive Media Query for Smartphone/Ipad:
May need fixing */
@media only screen and (max-width: 960px) {

  header {
    justify-content: center;
    align-items: center;
    background-color: #F5F2E7;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .links {
    gap: 2em;
  }
}
