a {
  text-decoration: none;
  color: #F0A500;
  /* Hover CSS Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* Hover CSS Grow */
a:hover, a:focus, a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
}

button {
  font-size: 16px;
  font-family: 'League Spartan', sans-serif;
  width: 140px;
  height: 50px;
  border-width: 0px;
  color: black;
  border-color: #F5F2E7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(#FFE6AB, #FFE6AB);
  /* Hover CSS Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:hover {
  color: #F0A500;
}

/* Hover CSS Grow */
button:hover, button:focus, button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

dialog {
  width: 50%;
  padding-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  color: grey;
}

h1 {
  font-size: 1.875em;
  /* 30px/16=1.875em */
}

h3 {
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F2E7;
  gap: 18rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  position: sticky;
  width: 100%;
  z-index: 9999;
}

input {
  font-family: 'League Spartan', sans-serif;
}

span {
  color: #F0A500;
  font-weight: 600;
}

.author {
  color: #F0A500;
  font-weight: 600;
  font-size: 1.5em;
}

.button-2 {
  display: flex;
  align-items: center;
}

.button-spacer {
  margin-top: 1em;
}

.calltoaction-section {
  background-color: rgba(255, 231, 173, 0.45);
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.centered-box {
  background-color: white;
  border-radius: .3em;
  width: 60em;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.class-name {
  padding-top: 1.5em;
}

.class-one {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: rgba(244, 241, 230, 0.51);
  padding-top: 1.8em;
  padding-bottom: .5em;
  border-radius: .5em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.class-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  padding-bottom: 5em;
}

.class-thumbnails {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.icons {
  width: 40px;
  /* Hover CSS Grow */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* Hover CSS Grow */
.icons:hover, .icons:focus, .icons:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.intropic {
  height: auto;
  width: 500px;
  border-radius: .5em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  gap: 2em;
  width: 100%;
  flex-wrap: wrap;
}

.last-call {
  line-height: 1.2em;
}

.left-container {
  width: 500px;
  padding-right: 1.95em;
  padding-bottom: 1.5em;
}

.links {
  display: flex;
  gap: 1em;
  font-size: 1.2em;
}

.logo {
  color: black;
  display: flex;
}

.p1 {
  font-size: 1.15em;
  line-height: 1.2em;
}

.p2 {
  margin-bottom: 2em;
  font-size: 1.15em;
  line-height: 1.2em;
  font-style: italic;
}

.p-width {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.quote {
  width: 50%;
  font-weight: 300;
  line-height: 1.3em;
  font-style: italic;
}

.quote-section {
  background-color: #F5F2E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-header {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-title {
  font-size: 2em;
  font-weight: 500;
}

.sidenote {
  color: #F0A500;
  line-height: 1.2em;
}

.socials {
  display: flex;
  gap: 1em;
  padding-top: 1em;
}

.thumbnails {
  max-width: 200px;
  height: auto;
  border-radius: 5%;
}

.toggle-button {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  padding-right: 2em;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #F0A500;
  border-radius: 10px;
}

/* Tentative Responsive Media Query for Smartphone/Ipad:
May need fixing */
@media only screen and (max-width: 950px) {
  .centered-box {
    display: block;
  }

  .button-2 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .last-call {
    text-align: center;
  }
}

@media only screen and (max-width: 1285px) {
  .class-thumbnails {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .class-one {
    margin-bottom: 1.3em;
  }
}

@media only screen and (max-width: 1085px) {
  .class-thumbnails {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-header {
    max-width: 90%;
    display: flex;
    text-align: center;
  }

  .left-container {
    padding-left: 1.95em;
    min-width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intropic {
    max-width: 90%;
  }

  .right-container {
    display: flex;
    justify-content: center;
  }

  .intro-section {
    max-width: 100%;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h1 {
    line-height: 1.2em;
  }

  .toggle-button {
    display: flex;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1em;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 2rem;
    flex-direction: column;
    gap: 0;
  }

  /* Hover CSS Grow */
  a:hover, a:focus, a:active {
    -webkit-transform: none;
    transform: none;
    color: black;
  }

  .links.active {
    display: flex;
  }
}
